body
{
background-color: rgb(25, 3, 53);

justify-content: center;
align-items: center;
    display: flex;
    flex-direction: column;
   
}
header
{
    color: rgb(34, 235, 16);
    font-size: 80PX;
    text-align: center;

}
#f16
{
    color: rgb(77, 240, 2);
    font-size: 30PX;
    text-align: center;
    
}

iframe
{
  
margin-left: 1000;
}
a{
   
  padding: 10px;
margin-right: 100px;
 font-size: 40px;
 text-decoration: none;

}

nav{
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px solid black;
    background-color:rgb(15, 189, 88);
    margin: 30PX;
    border-radius: 30PX;
    width: 100%;
}
.cl1
{
   
   width: 80%;
   height: 75%;
    margin: 40px;
 margin-bottom: 0px;

   
}
h2
{
    font-size: 30px;
    color: white ;
}
#f12
{
    color: white;
    font-size: 40px;
    background-color:black;
    border: 3px solid white;
    border-radius: 30px;
    
}
footer
{
    font-size: 16px;
    color: white;
    font-style: italic;
    margin: 20px;
}